export("equi",
       "equi.predict",
       "smoothtab",
       "as.smoothtab",
       "conttab",
       "equi.see",
       "recode",
       "cdfplot",
       "moments",
       "lin",
       "trun",
       "interp",
       "nslm",
       "kernsmooth")
