export("equi",
       "equi.predict",
       "smoothtab",
       "as.smoothtab",
       "conttab",
       "equi.see",
       "recode",
       "cdfplot",
       "moments",
       "lin",
       "trun",
       "interp",
       "nslm",
       "kernsmooth",
       "print.equi",
       "plot.equi",
       "summary.lin",
       "print.smoothtab",
       "plot.smoothtab",
       "print.kernsmooth",
       "plot.kernsmooth",
       "summary.nslm",
       "print.nslm",
       "cdfplot.default",
       "cdfplot.kernsmooth",
       "cdfplot.smoothtab")
